@import url(http://fonts.googleapis.com/css?family=Changa+One|Noticia+Text);

body {
  color: white;
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: "Noticia Text", serif;
  font-size: 13px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.small-sans {
  font-family: "Changa One", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a#vieux {
  @extend .small-sans;
  border: 1px solid rgba(255,255,255,0.5);
  color: white;
  opacity: 0.3;
  margin: 20px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
  &.text {
    background-image: url("../images/vignette.png");
    
    div.info {
      text-shadow: none;
    }
    
    div.body {
      margin: 72px auto 0;
      color: rgba(0,0,0,0.75);
      font-size: 18px;
      line-height: 28px;
      width: 580px;
  
      p {
        margin: 0 0 10px;
      }
      
      blockquote {
        margin: 0 0 10px 24px;
        font-size: 18px;
        opacity: 0.7;
      }
      
      dt {
        @extend .small-sans;
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        opacity: 0.9;
    //  color: rgb(56, 161, 162);
      }
  
      dd {
        margin: 0;
      }
      
      ul {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
        text-indent: -30px;
        
        li:before {
          float: left;
          content: '—';
          width: 30px;
          opacity: 0.4;
        }
      }
      
      span.link {
        cursor: pointer;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        
        &:hover {
          border-bottom-color: rgba(0,0,0,0.75);
        }
      }
    }
  }
}

div.info {
  text-shadow: 0 0 30px rgba(0, 0, 0, 1);;
  margin: 20px 0 0 74px;
  
  time {
    @extend .small-sans;
    padding: 8px 16px 8px 0;
  }
  
  span.description {
    padding: 6px 0 8px 10px;
    border-left: 1px solid rgba(255,255,255,0.35);
  }
  
  span.counter {
    @extend .small-sans;
    margin-left: 5px;
  }
}
