@import url(http://fonts.googleapis.com/css?family=Changa+One|Noticia+Text);

body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Noticia Text", serif;
  font-size: 13px;
  line-height: 20px;
}

.small-sans {
  font-family: "Changa One", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

a#vieux {
  @extend .small-sans;
  border: 1px solid rgba(255,255,255,0.5);
  color: white;
  opacity: 0.3;
  margin: 20px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

div.info {
  margin: 20px;
  
  time {
    @extend .small-sans;
    padding: 8px 10px 8px 0;
    margin-right: 10px;
    border-right: 1px solid rgba(255,255,255,0.35);
  }
  
  .description {
    opacity: 0.8;
  }
}