@import url(http://fonts.googleapis.com/css?family=Changa+One|Noticia+Text);

body {
  color: white;
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: "Noticia Text", serif;
  font-size: 13px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.small-sans {
  font-family: "Changa One", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
  &.text {
    background-image: url("../images/vignette.png");
    
    div.info {
      text-shadow: none;
    }
    
    div.body {
      margin: 72px auto 0;
      color: rgba(0,0,0,0.75);
      font-size: 19px;
      line-height: 29px;
      width: 580px;
  
      p {
        margin: 0 0 10px;
      }
      
      blockquote {
        margin: 0 0 10px 24px;
        font-size: 18px;
        opacity: 0.7;
      }
      
      dt {
        @extend .small-sans;
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        opacity: 0.9;
    //  color: rgb(56, 161, 162);
      }
  
      dd {
        margin: 0;
      }
      
      ul {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
        text-indent: -30px;
        
        li:before {
          float: left;
          content: '—';
          width: 30px;
          opacity: 0.4;
        }
      }
    }
  }
}

a#vieux {
  @extend .small-sans;
  border: 1px solid rgba(255,255,255,0.5);
  color: white;
  opacity: 0.3;
  margin: 20px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

div.info {
  text-shadow: 0 0 30px rgba(0, 0, 0, 1);;
  margin: 20px 0 0 74px;
  
  time {
    @extend .small-sans;
    padding: 8px 16px 8px 0;
  }
  
  span.description {
    padding: 6px 0 8px 10px;
    border-left: 1px solid rgba(255,255,255,0.35);
  }
  
  span.counter {
    @extend .small-sans;
    margin-left: 5px;
  }
}

div.all {
  position: absolute;
//  background-color: white;
  height: 100%;
  z-index: 100;
  top: 16px;
  -webkit-transition: left 0.4s ease;
  
  ul.posts {
    position: absolute;
    left: -9999px;
    width: 90%;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    
    li {
      float: left;
    }
    
    a {
      display: block;
      float: left;
      width: 92px;
      height: 62px;
      padding: 10px;
      color: rgba(0,0,0,0.5);
      font-size: 11px;
      line-height: 16px;
      overflow: hidden;
      cursor: pointer;
      
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      
      &.text {
        background-image: url("../images/vignette.png");
      }
      
      p {
        margin: 0;
      }
    }
  }
  
  span.button {
    position: absolute;
    text-indent: -9999px;
    width: 56px;
    height: 32px;
    margin-right: 20px;
    border: 1px solid rgba(255,255,255,0.35);
    border-left: none;
    background: url("../images/all.png") no-repeat 50% 0;
    background-size: 50%;
    cursor: pointer;
  
    &:hover {
      background-color: rgba(255,255,255,0.25);
    }
  }
  
  &.open {
    span.button {
      background-position: 50% -33px;
    }
  }
}
