section#post-001 {
  background-color: #4373a4;
  background-image: url("../images/photo-8929.jpg");
}

section#post-002 {
  background-color: #aeaeb6;
  background-image: url("../images/photo-8943.jpg");
}

section#post-003 {
  background-color: #4b413c;
  background-image: url("../images/photo-8974.jpg");
}
