@each $image in avion, lisbonne, eglise, mude-1, mude-2, mude-3, plafonds, falaise, sardine, os, praca, abandonnee {
  ##{$image} { background-image: url("../images/photo-#{$image}.jpg"); }
  ##{$image}-thumbnail { background-image: url("../images/photo-#{$image}-menu-200x.jpg"); }
}

#aeroport, #aeroport-thumbnail { background-color: #D8D7A6; }
#portugal, #portugal-thumbnail { background-color: #a5d3dd; }
#personne, #personne-thumbnail { background-color: #DDC8D0; }
#lumiere, #lumiere-thumbnail   { background-color: #DDDAD1; }

#lumiere.off { background-color: #222230; }