<%= current_page.data.to_s %>
<div class="info">
  <time datetime="2013-10-28"><%= current_page.data.date %></time><span class="description"><%= current_page.data.description %></span>
</div>
<%= yield %>