<div class="info">
  <time datetime="2013-10-28">28 octobre 2013</time><span class="description">Aéroport de Lisbonne</span>
</div>

<div class="text">
  <p>À la douane portugaise.</p>
  <dl>
    <dt>Employé de l’aéroport</dt>
    <dd>
      <p>
        <em>Passaportes europeus, a sua esquerda. Outros passaportes, a sua direita. European passports, to your left. Other passports, to your right.</em>
      </p>
    </dd>
    <dt>Un Québécois derrière moi, indigné</dt>
    <dd>
      <p>En français, ça veut dire quoi?!</p>
    </dd>
    <dt>Moi (monde fictif)</dt>
    <dd>
      <p>Ça veut dire que vous êtes prié de retourner immédiatement dans l’avion, rentrer chez vous et nous sacrer patience.</p>
    </dd>
    <dt>Moi (monde réel)</dt>
    <dd>
      <p>À droite, monsieur.</p>
    </dd>
  </dl>
</div>
